.Textfield {
  font-family: sans-serif;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  height: 250px;
  background-color: #F9F9F9;
  margin-top: 27px !important;
  font-size: 12px;
  width: 100%;
  border: 1px solid #c5c5c5 !important;
  margin-top: 10px;
  }

.noborder {
  border: none;
}
textarea:focus-visible {
  outline: none !important;
}
.text-danger {
    color: red;
    font-size: 10px;
}

.col {
  display: list-item;
}
.MuiPaper-root{
  border-radius: 10px !important;
    
}
.MuiFormGroup-root {
  display: block !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  min-height: 217px !important;
  
}
div.smi .MuiSvgIcon-root{
  font-size: 15px;
  margin: 0px 10px;
}
.MuiCardActionArea-root:hover .MuiCardActionArea-focusHighlight {
  opacity: 0 !important;
  cursor: default !important;
}
.MuiCardActionArea-root:focus .MuiCardActionArea-focusHighlight {
  opacity: 0 !important;
}